@import '../../assets/styles/variables.scss';

.header {
  margin: 1em 1rem;
  text-align: center;

  @media only screen and (min-width: $md) {
    text-align: left;
  }
}

.logo {
  display: block;
}
